scripts/comment-listener-complete.workflow.json
{
  "name": "Comment Listener - Complete",
  "nodes": [
    {
      "parameters": {
        "path": "comment-listener-meta",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "meta-get-webhook",
      "name": "Meta Verification (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        720,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nreturn [{ json: { challenge: query['hub.challenge'] || '' } }];"
      },
      "id": "extract-challenge",
      "name": "Extract Challenge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}"
      },
      "id": "respond-meta",
      "name": "Respond to Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comment-listener-meta",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "meta-post-webhook",
      "name": "Receive Instagram Event (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        720,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $input.first().json;\nconst body = trigger.body || {};\nconst headers = trigger.headers || {};\nconst proto = headers['x-forwarded-proto'] || headers['X-Forwarded-Proto'] || 'https';\nconst host = headers['x-forwarded-host'] || headers['X-Forwarded-Host'] || headers.host || '';\nlet n8nBaseUrl = '';\n\nif (host) {\n  n8nBaseUrl = `${proto}://${host}`;\n} else if (trigger.webhookUrl) {\n  try {\n    const url = new URL(trigger.webhookUrl);\n    n8nBaseUrl = `${url.protocol}//${url.host}`;\n  } catch (_error) {\n    n8nBaseUrl = '';\n  }\n}\n\nconst backendBaseUrl = 'http://127.0.0.1:4000';\nconst n8nSecret = 'replace-me-with-your-backend-secret';\nconst output = [];\n\nfor (const entry of body.entry || []) {\n  for (const change of entry.changes || []) {\n    if (change.field !== 'comments') continue;\n    const value = change.value || {};\n    output.push({\n      json: {\n        instagramAccountId: entry.id || '',\n        postId: value.media ? value.media.id : value.media_id || '',\n        comment: value.text ? value.text.trim() : '',\n        commenterId: value.from ? value.from.id : '',\n        commenterUsername: value.from ? value.from.username : '',\n        igUserId: value.from ? value.from.id : '',\n        commentId: value.id || '',\n        eventField: change.field || 'comments',\n        followConfirmBaseUrl: n8nBaseUrl ? `${n8nBaseUrl}/webhook/follow-confirm` : '',\n        backendBaseUrl,\n        n8nSecret\n      }\n    });\n  }\n}\n\nreturn output.length > 0 ? output : [{ json: { skip: true, backendBaseUrl, n8nSecret } }];"
      },
      "id": "parse-event",
      "name": "Parse Instagram Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ignore-empty-payload",
              "leftValue": "={{ $json.skip === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-comment-event",
      "name": "Has Comment Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendBaseUrl.replace(/\\/+$/, '') + '/api/internal/n8n/comment-event' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $json.n8nSecret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { instagramAccountId: $json.instagramAccountId, postId: $json.postId, comment: $json.comment, commenterId: $json.commenterId, commenterUsername: $json.commenterUsername, igUserId: $json.igUserId, commentId: $json.commentId, eventField: $json.eventField, followConfirmBaseUrl: $json.followConfirmBaseUrl } }}"
      },
      "id": "forward-comment-event",
      "name": "Forward Event To Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        736
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED"
      },
      "id": "respond-comment-event",
      "name": "Respond to Event",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1792,
        640
      ]
    },
    {
      "parameters": {
        "path": "follow-confirm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "follow-confirm-webhook",
      "name": "Follow Confirm Click (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        720,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nreturn [{\n  json: {\n    igUserId: query.igUserId || '',\n    postId: query.postId || '',\n    instagramAccountId: query.instagramAccountId || '',\n    backendBaseUrl: 'http://127.0.0.1:4000',\n    n8nSecret: 'replace-me-with-your-backend-secret'\n  }\n}];"
      },
      "id": "extract-follow-confirm-params",
      "name": "Extract Confirm Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendBaseUrl.replace(/\\/+$/, '') + '/api/internal/n8n/follow-confirm' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $json.n8nSecret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { igUserId: $json.igUserId, postId: $json.postId, instagramAccountId: $json.instagramAccountId } }}"
      },
      "id": "confirm-with-backend",
      "name": "Confirm With Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json || {};\nreturn [{ json: { responseText: payload.message || \"You're all set! Check your DMs 🎉\" } }];"
      },
      "id": "build-follow-response",
      "name": "Build Follow Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1024
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.responseText }}"
      },
      "id": "respond-follow-confirm",
      "name": "Respond to Follow Confirm",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1776,
        1024
      ]
    }
  ],
  "connections": {
    "Meta Verification (GET)": {
      "main": [
        [
          {
            "node": "Extract Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Challenge": {
      "main": [
        [
          {
            "node": "Respond to Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Instagram Event (POST)": {
      "main": [
        [
          {
            "node": "Parse Instagram Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Instagram Event": {
      "main": [
        [
          {
            "node": "Has Comment Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Comment Event?": {
      "main": [
        [
          {
            "node": "Respond to Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward Event To Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Event To Backend": {
      "main": [
        [
          {
            "node": "Respond to Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Confirm Click (GET)": {
      "main": [
        [
          {
            "node": "Extract Confirm Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Confirm Params": {
      "main": [
        [
          {
            "node": "Confirm With Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm With Backend": {
      "main": [
        [
          {
            "node": "Build Follow Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow Response": {
      "main": [
        [
          {
            "node": "Respond to Follow Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
